@charset "UTF-8";
/*PIE DE PAGINA*/
footer {
  background-color: rgba(0, 0, 0, 0.884);
  height: 70px;
}

#cajasfooter {
  height: 100%;
  display: flex;
  justify-content: center;
}

.footer_logo img {
  display: flex;
  width: 150px;
  height: 100%;
  margin-left: 10px;
}

/*ARTICULO CONTENEDOR DE REDES*/
.footer__Redes img {
  height: 40px;
  width: 40px;
  margin: 20px 20px 0 10px;
}

/*SECCION HEADER */
.nombreempreza {
  color: rgba(255, 255, 255, 0.63);
  font-size: 50px;
}

header {
  height: 150px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  position: fixed;
  z-index: 1000;
}

header nav ul li {
  display: inline-block;
  font-style: none;
  font-size: 25px;
  margin-left: 20px;
}

header nav ul li a {
  color: rgba(255, 255, 255, 0.63);
  font-size: 25px;
  transition: 1s;
  text-decoration: none;
}

header nav ul li:hover {
  background-color: cyan;
}

header nav ul li a:hover {
  color: black;
}

header nav ul li:active {
  background-color: cyan;
}

.logoheader img {
  height: 100%;
  width: 600px;
  margin-left: 10px;
}

#videoindex video {
  margin-top: 50px;
}

#navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#navBar div ul {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

#navBar ul a:hover {
  font-size: 40px;
  transition: 1s;
}

@media (max-width: 1170px) {
  header {
    position: fixed;
    height: fit-content;
  }
  .logoheader img {
    width: 300px;
  }
  ul {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  header {
    position: fixed;
    height: fit-content;
  }
  .logoheader img {
    width: 180px;
  }
}
@media (max-width: 465px) {
  header {
    position: fixed;
    height: fit-content;
  }
  .logoheader img {
    width: 150px;
  }
  header nav ul li {
    font-size: 10px;
    margin-left: 5px;
  }
  .contact_form {
    width: 300px;
  }
  input, textarea, button {
    width: 250px;
  }
}
@media (max-width: 365px) {
  header {
    position: fixed;
    height: fit-content;
  }
  header nav ul li a {
    font-size: 15px;
  }
  .logoheader img {
    width: 120px;
  }
  .contact_form {
    width: 250px;
  }
  input, textarea, button {
    width: 200px;
  }
}
/*RESETS CSS --- ES PARA LLAMAR A TODO EL DOCUMENTO EN GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/*SECCION MAIN INDEX*/
main {
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: 100vh;
  background-color: black;
}

#mainindex {
  background-color: black;
}

#maingeneral h1, h2 {
  text-align: center;
  color: #ab4493;
  font-size: 80px;
}

#maingeneral p {
  font-size: 25px;
}

#maingeneral {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

#maingeneral p {
  color: #ac699c;
}

.textomision, .textovision {
  height: 400px;
  width: 1200px;
  font-size: 40px;
  overflow: auto;
  text-align: center;
  margin: 80px;
  justify-content: center;
}

.textovision {
  height: 300px;
}

.textomision:hover {
  background-color: cyan;
}

.textovision:hover {
  background-color: cyan;
}

#maingeneral {
  display: flex;
  justify-content: center;
}

.carousel-inner {
  height: 600px;
  width: 100%;
}

.carousel-inner img {
  background-size: cover;
  height: 600px;
}

#articulos .articuloscontenedor .estiloart img {
  width: 300px;
  height: 300px;
  background-color: aquamarine;
  overflow: auto;
  padding: 10px;
  margin: 10px;
}

/* PAGINA CONTACTO*/
.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

button p {
  color: #fff;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h1 {
  font-size: 40px;
  text-align: letf;
  padding-bottom: 20px;
  color: #ab4493;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

@media (max-width: 720px) {
  .contact_form {
    width: 350px;
  }
  input, textarea, button {
    width: 300px;
  }
}
/*PAGINA MENU*/
#mainmenu {
  background-color: cyan;
}

#botones img {
  height: 80px;
  width: 80px;
  margin: 15px;
  background-size: cover;
  display: flex;
  background-size: cover;
}

.botonesmenu {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  border: 2px solid;
  border-radius: 60px;
  background-color: cyan;
}

#botones {
  display: flex;
  justify-content: center;
}

#pruebamenu {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(3, 260px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 30px;
  justify-content: center;
}

.grillamenu1 {
  background-color: black;
}

.grillamenu2 {
  background-color: black;
}

.grillamenu3 {
  background-color: black;
}

.grillamenu4 {
  background-color: black;
}

.grillamenu5 {
  background-color: black;
}

.grillamenu6 {
  background-color: black;
}

.grillamenu7 {
  background-color: black;
}

.grillamenu8 {
  background-color: black;
}

.grillamenu9 {
  background-color: black;
}

.grillamenu10 {
  background-color: black;
}

.foto1menu {
  position: absolute;
  height: 180px;
}

.foto2menu {
  position: relative;
  padding-top: 50px;
  padding-left: 60px;
  margin-top: 80px;
  margin-left: 20px;
  height: 180px;
  width: 200px;
}

.foto2menu1 {
  position: relative;
  padding-top: 30px;
  margin-top: 35px;
  margin-left: 50px;
  height: 220px;
  width: 150px;
}

.foto2menu2, .foto2menu3 {
  margin-top: 70px;
  padding-top: 50px;
  height: 180px;
  width: 230px;
}

.foto2menu4 {
  margin-top: 100px;
  padding-top: 30px;
  margin-left: 50px;
  height: 160px;
  width: 170px;
}

@media (max-width: 1000px) {
  #pruebamenu {
    grid-template-columns: repeat(2, 220px);
    grid-template-rows: repeat(5, 260px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  #pruebamenu {
    grid-template-columns: repeat(1, 220px);
    grid-template-rows: repeat(5, 260px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 30px;
  }
  #botones {
    flex-direction: column;
    width: 150px;
    align-items: center;
  }
}
@media (max-width: 368px) {
  #botones {
    margin-top: 5px;
  }
}
/*PAGINA UBICACION*/
#ubicaciones {
  display: grid;
  padding-top: 100px;
  justify-content: center;
  grid-template-columns: 600px 600px;
  grid-template-rows: 600px 600px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: "grillaubicaciones1 grillaubicaciones2" "grillaubicaciones3 grillaubicaciones4";
}

.grillaubicaciones1,
.grillaubicaciones2,
.grillaubicaciones3,
.grillaubicaciones4 {
  background-color: cyan;
  text-align: center;
}

#ubicaciones h1, h2, h3, h4 {
  font-size: 50px;
  color: #ab4493;
  padding-bottom: 15px;
}

#ubicaciones p {
  font-size: 30px;
}

.direubi {
  width: 500px;
  height: 450px;
  padding: 20px;
}

#botonpedidos ul li {
  display: inline-block;
}

#botonpedidos {
  padding-top: 100px;
  padding-left: 50px;
}

.elegircompañia {
  background-color: cyan;
  width: 800px;
}

h1 {
  font-size: 40px;
}

h4 {
  font-size: 25px;
}

.logopedidosya img {
  height: 250px;
  margin-bottom: 50px;
  padding-left: 50px;
}

/*# sourceMappingURL=style.css.map */
