/*SECCION HEADER */

.nombreempreza {
    color: rgba(255, 255, 255, 0.63);
    font-size: 50px;
}


header{
    height: 150px;
    width: 100%;
    background-color: rgb(0, 0, 0) ;
    display: flex;
    position: fixed;
    z-index: 1000;
}


header nav ul li {
    display: inline-block;
    font-style: none;
    font-size: 25px;
    margin-left: 20px;
    border-radius: 10px;
}

header nav ul li a {
    color: rgba(255, 255, 255, 0.63);
    font-size: 20px;
    transition: 1s;
    text-decoration: none;
}

header nav ul li:hover {
    background-color: rgb(17, 143, 143);
}

header nav ul li a:hover {
    color: black;
}

header nav ul li:active {
    background-color: cyan;
}


.logoheader img {
    height: 100%;
    width: 600px;
    margin-left: 10px;
}

#videoindex video {
    margin-top: 50px;
}

#navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#navBar div ul {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

#navBar ul a:hover {
    font-size: 30px;
    transition: 1s;
}


@media (max-width: 1170px) {
    header {
        position: fixed;
        height: fit-content;
    }

    .logoheader img {
    width: 300px;
    }
    ul {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    header {
        position: fixed;
        height: fit-content;
    }
    .logoheader img {
        width: 180px;
        }

}
@media (max-width: 465px) {
    header {
        position: fixed;
        height: fit-content;
    }
    .logoheader img {
        width: 150px;
        }
    header nav ul li {
        font-size: 10px;
        margin-left: 5px;
    }
    .contact_form {
        width: 300px;
    }
    input, textarea, button {
        width: 250px;
    }
} 

@media (max-width: 365px) {
    header {
        position: fixed;
        height: fit-content;
    }
    header nav ul li a {
        font-size: 15px;
    }
    .logoheader img {
    width: 120px;
    }
    .contact_form {
        width: 250px;
    }
    input, textarea, button {
        width: 200px;
    }
}