#botonpedidos ul li {
    display: inline-block;
}

#botonpedidos {
    padding-top: 100px;
    padding-left: 50px;
}

.elegircompañia {
    background-color: cyan;
    width: 800px;
}

h1 {
    font-size: 40px;
}

h4 {
    font-size: 25px;
}

.logopedidosya img {
    height: 250px;
    margin-bottom: 50px;
    padding-left: 50px;
}