/*PAGINA MENU*/

#mainmenu {
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(121,9,103,1) 35%, rgba(0,208,38,0.7175245098039216) 100%);
}


#botones img {
    height: 80px;
    width: 80px;
    margin: 15px;
    background-size: cover;
    display: flex;
    background-size: cover;
}

.botonesmenu {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    border: 2px solid;
    border-radius: 60px;
    background-color: rgb(17, 143, 143);
}

.botonesmenu:active {
    background-color: cyan;
}

#botones {
    display: flex;
    justify-content: center;
}

#pruebamenu {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(3, 260px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 30px;
    justify-content: center;
}

.grillamenu1{
    background-color: rgb(17, 143, 143);
    border-radius: 10px;
}
.grillamenu2{
    background-color: rgb(17, 143, 143);    border-radius: 10px;
}
.grillamenu3{
    background-color: rgb(17, 143, 143);    border-radius: 10px;
}
.grillamenu4{
    background-color: rgb(17, 143, 143);    border-radius: 10px;
}
.grillamenu5{
    background-color: rgb(17, 143, 143);    border-radius: 10px;
}
.grillamenu6{
    background-color: rgb(17, 143, 143);    border-radius: 10px;
}
.grillamenu7{
    background-color: rgb(17, 143, 143);    border-radius: 10px;
}
.grillamenu8{
    background-color: rgb(17, 143, 143);    border-radius: 10px;
}
.grillamenu9{
    background-color: rgb(17, 143, 143);    border-radius: 10px;
}
.grillamenu10{
    background-color: rgb(17, 143, 143);    border-radius: 10px;
}

.grillamenu1:active {
    background-color: rgba(0, 255, 255, 0.774);
    
}

.grillamenu2:active {
    background-color: rgba(0, 255, 255, 0.774);
}

.grillamenu3:active {
    background-color: rgba(0, 255, 255, 0.774);
}

.grillamenu4:active {
    background-color: rgba(0, 255, 255, 0.774);
}

.grillamenu5:active {
    background-color: rgba(0, 255, 255, 0.774);
}

.grillamenu6:active {
    background-color: rgba(0, 255, 255, 0.774);
}

.grillamenu7:active {
    background-color: rgba(0, 255, 255, 0.774);
}

.grillamenu8:active {
    background-color: rgba(0, 255, 255, 0.774);
}

.grillamenu9:active {
    background-color: rgba(0, 255, 255, 0.774);
}

.grillamenu10:active {
    background-color: rgba(0, 255, 255, 0.774);
}


.foto1menu {
    position: absolute;
    height: 180px;
}

.foto2menu {
    position: relative;
    padding-top: 50px;
    padding-left: 60px;
    margin-top: 80px;
    margin-left: 20px;
    height: 180px;
    width: 200px;
}

.foto2menu1 {
    position: relative;
    padding-top: 30px;
    margin-top: 35px;
    margin-left: 50px;
    height: 220px;
    width: 150px;
}

.foto2menu2, .foto2menu3 {
    margin-top: 70px;
    padding-top: 50px;
    height: 180px;
    width: 230px;
}

.foto2menu4 {
    margin-top: 100px;
    padding-top: 30px;
    margin-left: 50px;
    height: 160px;
    width: 170px;
}


@media (max-width: 1000px) {
    #pruebamenu {
    grid-template-columns: repeat(2, 220px);
    grid-template-rows: repeat(5, 260px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 30px;
    }
}

@media (max-width: 500px) {
    #pruebamenu {
    grid-template-columns: repeat(1, 220px);
    grid-template-rows: repeat(5, 260px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 30px;
    }
    #botones {
        flex-direction: column;
        width: 150px;
    }
}

@media (max-width: 368px) {
    #botones {
        margin-top: 5px;
    }
}